<launch>

    <node name="motion_planning_pipeline_tutorial" pkg="mara_moveit_tutorials" type="motion_planning_pipeline_tutorial" respawn="false" output="screen">

    <rosparam command="load" file="$(find mara_moveit_config)/config/kinematics.yaml"/>
    <param name="/planning_plugin" value="ompl_interface/OMPLPlanner"/>
    <rosparam command="load" file="$(find mara_moveit_config)/config/ompl_planning.yaml"/>
  </node>


</launch>
